
body{
    margin: 0px;
    background-color: rgb(173, 234, 251);
}

h1 {
    color: red;
}

.navbar{
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    padding: 20px;
    text-align: center;
}

.navbar a{
    padding: 20px;
    text-decoration: none;
    color:red;
    font-size: 20px;
}
.navbar a:hover{
    color: blue;
    background-color: red;
}
.card{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(17, 13, 13);
    border-radius: 10px;
    overflow: hidden;
    padding: 0px;
    text-align: center;
    width: 400px;
    margin: 40px auto;
    background-color: rgb(246, 229, 187);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;

}